.user-info__edit {
    position: relative;
    top: 16px;
    right: 0;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 40px;
    height: 20px;
    font-size: 12px;
    display: block;
    cursor: pointer;
  }
  
@media screen and (max-width: 980px) {
    .user-info__edit {
      position: static;
      margin: 20px auto auto;
      width: 70px;
      height: 30px;
      font-size: 18px;
      cursor: pointer;
    }
  }

.user-info__edit:focus {
    outline-color: greenyellow;
  }